header {
  margin: 0;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}
.banner {
  padding: 2em 2em;
  text-align: center;
  background-color: black;
}
.banner-title {
  font-size: 3em;
  color: white;
}
.nav-bar li a {
  font: "Courier New", Courier, monospace;
  margin-top: 1em;
  color: #ffffff;
}
.nav-bar li {
  display: inline;
}
a:link,
a:visited {
  margin: 4rem;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}
a:hover {
  text-decoration: underline;
}
.movie-poster {
  margin: 3rem;
}

/* CSS ADDED BY CHARLOTTE */

form {
  margin: 5px;
}

table {
  width: 100%;
}
tr {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form fieldset {
    border-radius: 10px;
    padding: 20px;
}

#time {
  margin: 5px;
}

.pagetitle {
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 5px 20px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

[type="button"], [type="submit"], [type="date"] {
    color:white;
    background-color:black;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color-scheme: dark;
    text-align: center;
    margin: 15px;
}

[type="date"] {
    margin-top: 0px;
}

[type="submit"] {
    padding: 10px 15px;
    font-size: 1.2rem;
    float: right;
    margin-right: 35px;
    margin-top: 0px;
}

form [type="text"] {
    width: 290px;
    height: 36px;
    border-radius: 5px;
}

form select {
    border-radius: 5px;
    width: 300px;
    height: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    border: 2px solid black;
}

form input {
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    border: 2px solid black;
}

[type="time"] {
    width: 60%;
    font-size: 1.4rem;
    padding: 2px;
    text-align: center;
}

.grid1 {
    float: left;
    margin-left: 20%;
}

.grid2 {
    float: right;
    margin-right: 20%;
}

form h3 {
    margin-top: 0px;
    margin-bottom: 5px;
}

h3 {
  text-align: center;
}
.movie-time {
  border: solid black;
  text-align: center;
  border-radius: 15px;
  margin: 0 60em;
}
.movie-time select {
  margin: 1em 0;
}
.movie-time button {
  margin: 1em 0;
}

.row1 div {
  display: inline;
}
.row2 div {
  display: inline;
}

div img {
  height: 2em;
  width: 2em;
}
.row3 div {
  display: inline;
}
